@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

html {
	box-sizing: border-box;
	font-size: 62.5%;
	-webkit-text-size-adjust: 100%;
			-ms-text-size-adjust: 100%;
					text-size-adjust: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
  overflow-x: hidden;
}

body {
	position: relative;
}

h1, h2, h3, h4, h5, h6, ul, li, p {
	margin: 0;
}

h1{font-size: 25px; margin-top: 20px;}

p {
	font-size: 1.6rem;
	line-height: 1.4;
}

li {
	font-size: 1.4rem;
}

a {
	font-weight: 700;
	text-decoration: none;
	color: #edf1f2;
}

/*a:visited {
	color: #edf1f2;
}*/

a:hover {
	color: #111617;
}

a:active {
	color: #dce3e5;
}

.clearfix::before, .clearfix::after {
	content: " ";
	display: table;
}

.clearfix::after {
	clear: both;
}
.clearfix li a h1{font-family: 'Julius Sans One', sans-serif; font-size: 22px;}
a {
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

nav {
	-webkit-transition: -webkit-transform 0.4s ease-in-out;
	transition: -webkit-transform 0.4s ease-in-out;
	transition: transform 0.4s ease-in-out;
	transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

header, footer, main {
	-webkit-transition: opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
	transition: opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
	transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
	transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

header{
  min-height: 120px;
  background-image: url(../img/barre.png) !important;
/*  background-size: 100% 100% !important;*/
  background-position: right;
  border:none !important;
}

/*html {
	font-family: 'Lato', sans-serif;
	color: #edf1f2;
	background: transparent;
}*/

header, main, section, article, aside {
	padding: 2rem;
}

header {
	background-image: url(../img/face3.png);
	border-top: 5px solid #27888F;
	border-bottom: 5px solid #27888F;
}

header{background-size: cover;}

header, footer, main {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

header h1 {
	font-size: 2.8rem;
	letter-spacing: 0.1rem;
}

nav {
	z-index: 1000;
	position: absolute;
	top: 0;
	left: 0;
	width: 20rem;
	height: 100%;
	background: #2b3d4f;
	-webkit-transform: translate3d(-20rem, 0, 0);
					transform: translate3d(-20rem, 0, 0);
}

nav ul {
	padding: 2rem 0;
	height: 100vh;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

nav ul li {
	margin-bottom: 0.8rem;
}

nav ul li:last-child,
nav ul li:only-child {
	margin-bottom: 0;
}

nav ul li a {
	display: inline-block;
	padding: 0.6rem 2rem;
	font-size: 1.6rem;
}

nav ul li a:hover {
	padding-left: 2.6rem;
}

nav ul li a:active {
	padding-left: 2.2rem;
}

/*
// --- Nav Hide --- \
#nav_hide {
	display: block;
	z-index: 1001;
	position: fixed;
	top: 1rem;
	right: 1rem;
	padding: 1rem;
	font-size: 3.2rem;
	font-weight: bold;
	text-transform: uppercase;
	opacity: 0;
	visibility: hidden;
}
*/
#nav_show {
  display: none;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
  padding: 1rem;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  background: #27888F;
  animation: fadeInLeft 1s;
  box-shadow: 3px 3px 10px black;
}

#nav_show:hover {
	opacity: 0.9;
}

#nav_show:active {
	opacity: 0.96;
}

/* --- Toggled Class --- */
body.nav_toggled {
	position: fixed;
	overflow-y: hidden;
}

body.nav_toggled #nav_hide {
	opacity: 1;
	visibility: visible;
}

body.nav_toggled nav {
	-webkit-transform: translate3d(0, 0, 0);
					transform: translate3d(0, 0, 0);
}

body.nav_toggled header, body.nav_toggled footer, body.nav_toggled main {
	opacity: 0.8;
	-webkit-transform: translate3d(200px, 0, 0);
	transform: translate3d(200px, 0, 0);
}

main {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background: /*#dce3e5*/url('../img/fondtest-01.png');
  background-size: cover;
  background-repeat: no-repeat;
}

section {
	background: #3398db;
}

article {
	background: #287fb8;
}

div.wrap_columns {
	margin-bottom: 2rem;
}

#main-content {
	margin-bottom: 2rem;
}

#main-content article div.content {
	padding: 2rem;
	background: #2b3d4f;
}

#main-content article div.content h2 {
	margin-bottom: 1rem;
	font-size: 2.2rem;
}

#main-content article aside.subcontent {
	background: #111617;
}

#main-content article aside.subcontent p {
	font-size: 1.3rem;
}

#sidebar ul {
	padding-left: 1.6rem;
}

#sidebar ul li {
	margin-bottom: 0.8rem;
}

#sidebar ul li:last-child, #sidebar ul li:only-child {
	margin-bottom: 0;
}

#promotions p {
	margin-bottom: 2rem;
}

#promotions p:last-child,
#promotions p:only-child {
	margin-bottom: 0;
}

@media only screen and (min-width: 35.5em) {
	#main-content,
	#sidebar,
	#main-content article div.content,
	#main-content article aside.subcontent {
		float: left;
	}

	#main-content {
		margin-right: 2%;
		margin-bottom: 0;
		width: 66%;
	}

	#main-content article div.content {
		margin-right: 2%;
		width: 66%;
	}

	#main-content article aside.subcontent {
		width: 32%;
	}

	#sidebar {
		width: 32%;
	}
}


.onglet{ font-size: 20em; }


#galerie{
	padding: 0px;
	margin: 0px;
	list-style: none;
	padding: 0px 10px 0px 10px;
	margin: 25px 0px 0px 0px;
	z-index: 0
}

#stickyNav.fixed a {
		color: white;
	margin-bottom: 10px;}


#logo{
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 10px;
  margin-top: 0px;
  float: right;
  animation: fadeInRight 1s;
  background-color: rgba(255,255,255, 1);
}

/*=============================================
=                                             =
=                   FOOTER                    =
=                                             =
=============================================*/

footer{
	background: url(../img/footer_bg.jpg);
	background-size: 100%;
	background-position: center;
	border-top: 4px solid #337D98;
}

footer p{
	font-size: 14px;
	line-height: 1.5;
}

footer p.bottom-space{
	margin-bottom: 2em;
}

/* ----------- PREMIÈRE SECTION ------------ */

footer #first_section{
	background-color: #1F5D74;
	mix-blend-mode: multiply;
	padding-top: 3em;
	padding-bottom: 3em;
	color: #EEEEEE;
}

footer #first_section h2{
	font-family: 'Fjalla One', sans-serif;
	font-weight: 900;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 13px;
}

footer #first_section h2:after{
	content: "";
	position: absolute;
	left: 0;
	margin-top: 24px;
	margin-left: 15px;
	width: 15%;
	opacity: 0.8;
	border-bottom: 2px solid #80B9CF;
}

/* Bloc gauche */

footer #first_section #info-social ul{
	margin-top: 20px;
	margin-left: 1px;
}

footer #first_section #info-social .list-inline li{
	padding-right: 1em;
	padding-left: 0px;
}

footer #first_section #info-social li a{
	display: block;
	font-size: 20px;
	color: #EEEEEE;
	text-align: center;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	box-shadow: 0px 0px 3px 0px rgba(238,238,238,1);
	transition: all 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

footer #first_section #info-social li a:hover{
	transform: rotateZ(360deg) scale(1.2);
}

footer #first_section #info-social li .fa{
	position: relative;
	top: 6px;
}

footer #first_section #info-social .facebook_bg:hover{
	background-color: #3B5998;
}

footer #first_section #info-social .twitter_bg:hover{
	background-color: #4099FF;
}

footer #first_section #info-social .rss_bg:hover{
	background-color: #FF6600;
}

/* Bloc milieu */

footer #first_section #contact div{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: center;
	margin-bottom: 0.5em;
}

footer #first_section #contact div span{
	color: rgba(29, 75, 88, 0.5);
	font-size: 20px;
	margin-right: 1em;
}

footer #first_section #contact div div.text{
	display: block;
}


/* DEUXIÈME SECTION */

footer #last{
	background-color: #1D4B58;
	mix-blend-mode: multiply;
	color: #FFFFFF;
	line-height: 50px;
}


/*=============  Fin du footer  =============*/



/*//////////// zone article ///////////*/

.photo_article{
  max-width: 100%; width: 100%;
    border:5px solid #2B888C;
}

.article{
	padding: 10px 10px 10px 10px;
	animation: zoomIn 1s;
}

.actu{
	animation: fadeInLeft .5s;
}

.text_article{
  background-color: #2B888C;
  padding: 10px 10px 10px 10px;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bold;

}
.liens_article{
  color: white;
  font-size: 1em;
    border:5px solid #2B888C;
}
.liens_article:hover{
  color: lightgrey;
  text-decoration: none;
}

.article:hover{
	 transition-property: all;
	transition-duration: .5s; /* on aurait pu écrire 500ms également */
	transform: scale(1.05);
}



/*//////////// FIN zone article ///////////*/




/*///////////////// CSS FACEBOOK IFRAME + BUTTON ////////////*/
#face_button{
	display: none;
	margin-top: 20px;
}
#face_button:hover{
	transform: scale(1.1);
}

@media screen and (max-width: 768px){      /*GESTION DE LA FENETRE FACEBOOK SUR MOBILE ET PC*/
	.facebook{display: none;}
	#face_button{display: block;}
}

.btn-facebook {
		background: #3B5998;
		border-radius: 2;
		color: #fff;
		width: 100%;
		font-size: 2em;
	}
	.btn-facebook:link, .btn-facebook:visited {
		color: #fff;
	}
	.btn-facebook:active, .btn-facebook:hover {
		background: #263961;
		color: #fff;
	}

	.btn-linkedin{
		background-color: #0082CA;
		font-size: 20px;
	}
	/*///////////////// CSS FACEBOOK IFRAME + BUTTON ////////////*/



	/*/////////////////////////////  CSS  NAVBAR /////////////////////////////////////*/

#navbar{

}

#menu-demo2{
  background: #27888F;
  background-size: cover;
}

.couleurnav{
	 background-color: #00ccff !important;

}
#menu-demo2, #menu-demo2 ul{
padding:0;
margin:0;
list-style:none;
text-align:center;
font-size: 20px;

}
#deroulant{
	background-color: #27888F;
}
#menu-demo2 li{
display:inline-block;
position:relative;
}
#menu-demo2 li ul li a{
	font-family: 'Julius Sans One', sans-serif;
	font-size: 15px;
}
#menu-demo2 li a{
	font-family: 'Julius Sans One', sans-serif;
	font-size: 20px;
	border-right: 1px solid white;
	animation: fadeIn 1s;
}
#first{border-left: solid 1px white;animation: fadeIn 1s;}
#menu-demo2 ul li{
display:inherit;
}
#menu-demo2 ul li:hover{
border-radius:0;
}
#menu-demo2 ul li:last-child{

}
#menu-demo2 ul{
position:absolute;
z-index: 1000;
max-height:0;
left: 0;
right: 0;
overflow:hidden;
-moz-transition: .5s all .1s;
-webkit-transition: .5s all .1s;
transition: .5s all .1s;
}
#menu-demo2 li:hover ul{
max-height:15em;
}

/* background des liens sous menus */
#menu-demo2 li:first-child li{
background:transparent;
}
#menu-demo2 li:nth-child(2) li{
background:transparent;
}
#menu-demo2 li:nth-child(3) li{
background:transparent;
}
#menu-demo2 li:nth-child(4) li{
background:transparent;
}
#menu-demo2 li:last-child li{
background:transparent;
}
/* background des liens menus et sous menus au survol */
#menu-demo2 li:first-child:hover, #menu-demo2 li:first-child li:hover{
background:#729EBF;
}
#menu-demo2 li:nth-child(2):hover, #menu-demo2 li:nth-child(2) li:hover{
background:#729EBF;
}
#menu-demo2 li:nth-child(3):hover, #menu-demo2 li:nth-child(3) li:hover{
background:#729EBF;
}
#menu-demo2 li:nth-child(4):hover, #menu-demo2 li:nth-child(3) li:hover{
background:#729EBF;
}
#menu-demo2 li:last-child:hover, #menu-demo2 li:last-child li:hover{
background:#729EBF;
}
/* les a href */
#menu-demo2 a{
text-decoration:none;
display:block;
padding:8px 32px;
color:#fff;
font-family:arial;
height: 50px;
padding-top: 15px;
font-family: 'Ubuntu', sans-serif;
}
#menu-demo2 ul a{
padding:10px 0;
}
#menu-demo2 li:hover li a{
color:#fff;
text-transform:inherit;
}
#menu-demo2 li:hover a, #menu-demo2 li li:hover a{
color:white;
}


@media screen and (max-width: 960px){      /*GESTION DE LA FENETRE FACEBOOK SUR MOBILE ET PC*/
	#navbar{display: none;}
	#nav_show{display: inline-block;}
}

@media screen and (min-width: 960px){ 
header{border-bottom: none;}}
/*/////////////////////////////  CSS  NAVBAR FIN /////////////////////////////////////*/

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/*////////////////////// ANIMATION ! ! ! ! ///////////////////////////////*/
.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@-webkit-keyframes fadeInLeft {
	from {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInLeft {
	from {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

.fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInLeftBig {
	from {
		opacity: 0;
		-webkit-transform: translate3d(-2000px, 0, 0);
		transform: translate3d(-2000px, 0, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}
@-webkit-keyframes fadeInRight {
	from {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInRight {
	from {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

.fadeInRight {
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight;
}

@-webkit-keyframes fadeInRightBig {
	from {
		opacity: 0;
		-webkit-transform: translate3d(2000px, 0, 0);
		transform: translate3d(2000px, 0, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@-webkit-keyframes zoomIn {
	from {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3);
	}

	50% {
		opacity: 1;
	}
}

@keyframes zoomIn {
	from {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3);
	}

	50% {
		opacity: 1;
	}
}

.zoomIn {
	-webkit-animation-name: zoomIn;
	animation-name: zoomIn;
}

@-webkit-keyframes flipOutX {
	from {
		-webkit-transform: perspective(400px);
		transform: perspective(400px);
	}

	30% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		opacity: 1;
	}

	to {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		opacity: 0;
	}
}

@-webkit-keyframes flipInX {
	from {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		opacity: 0;
	}

	40% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}

	60% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		opacity: 1;
	}

	80% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
		transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
	}

	to {
		-webkit-transform: perspective(400px);
		transform: perspective(400px);
	}
}

@keyframes flipInX {
	from {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		opacity: 0;
	}

	40% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}

	60% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		opacity: 1;
	}

	80% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
		transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
	}

	to {
		-webkit-transform: perspective(400px);
		transform: perspective(400px);
	}
}

.flipInX {
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	-webkit-animation-name: flipInX;
	animation-name: flipInX;
}
/*////////////////////// ANIMATION FIN ! ! ! ! ///////////////////////////////*/

/*
///////////////////////// page partenariat //////////////////////////////*/

#partenariat_logo{margin-bottom: 30px;}
#politique_partenariat{margin-bottom: 50px;}

#association{background-image: url(../img/association.png);background-size: 100% 100%; color: white; font-size: 20px;text-align: center;height: 80px;}  /*// bouton qui agrandit les div //*/
#entreprise{background-image: url(../img/entreprise.png);background-size: 100% 100%; color: white; font-size: 20px;text-align: center; height: 80px;}
#institution{background-image: url(../img/institution.png);background-size: 100% 100%; color: white; font-size: 20px;text-align: center; height: 80px;}

#association:hover{transform: scale(1.1); margin-bottom: 10px; box-shadow: 5px 5px 20px black;}
#entreprise:hover{transform: scale(1.1); margin-bottom: 10px;box-shadow: 5px 5px 20px black;}
#institution:hover{transform: scale(1.1); margin-bottom: 10px;box-shadow: 5px 5px 20px black;}

#text_association{background-color: white; font-size: 20px; overflow: hidden; height: 0px; margin-bottom: 10px; background-color: transparent;}  /*/// Div avec les partenaire dedans ///*/
#text_entreprise{background-color: white; font-size: 20px; overflow: hidden; height: 0px; margin-bottom: 10px; background-color: transparent;}
#text_institution{background-color: white; font-size: 20px; overflow: hidden; height: 0px; background-color: transparent;}

#text_association:target {-webkit-transition: all .5s ease-in;transition: all .5s ease-in; height: auto; background-color: #2B888C;} /*/// Quand la div est target par le <a>, celle ci s'aggrandit ///*/
#text_entreprise:target {-webkit-transition: all .5s ease-in;transition: all .5s ease-in; height: auto; background-color: #2B888C;}
#text_institution:target {-webkit-transition: all .5s ease-in;transition: all .5s ease-in; height: 100%; background-color: #2B888C;}

#partenaire_div{margin-bottom: 10px; border: 3px solid #2B888C; background-color: white; padding-bottom: 10px; padding-top: 10px;}

#partenaire_div h1{margin-bottom: 5px; box-shadow: 5px 5px 5px white;}

#href_partenaire{color:black;}

#fermer_partenaire{position:fixed; bottom: 10px; right: 10px;}







.h1page {
   font-size: 30px; background-color: white; text-align: center; padding: 10px 0px 10px 0px;box-shadow: 5px 5px 20px black;
}
.h1page span
{
 color:#00ccff; font-size: 40px
}

.h2page
{
	 display: inline-block;
	 
	 margin-bottom: 30px;
	 line-height: 80px;
}

#padding50{margin-bottom: 50px;}

#colorhistoire{
	 background-color: #028bff;
}

#colorcontact{
		background-color:  #ff0101;
}

#padding{
	 margin-bottom: 10px;
}

#colorpalmarès{
	 background-color: #27a238;

}

#deroulantbleu{
	 background-color: #00ccff;
}


.bluebandeauseparateur{
	border-top: 5px solid #00ccff;
	border-bottom: 5px solid #00ccff;
}




#green
{
 color:#27888F;
}


/*//////////////////////////////////////// ZONE ADMINISTRATEUR ///////////////////////////////////////////////////*/

#titre-article{background:#2B888C;border: none; font-size: 20px; font-weight: bold;padding-left: 10px;color: white;}
#action-url{background:#2B888C;border: none; font-size: 20px; font-weight: bold;padding-left: 10px;color: white; padding-right: 70px;}
#contenu-article{background: #2B888C;border: none; font-size: 20px;font-weight: bold;padding-left: 10px;color: white;height: 200px; width:100%;}
#button-submit{background: lightgrey;border: none; font-size: 20px;font-weight: bold;color:#2B888C;padding-left: 20px; padding-right: 20px;}
#button-submit:hover{background: lightgrey; color:#2B888C;}
#submit-img {border: none;font-size: 15px;}
#div-formulaire{margin-bottom: 20px; padding-left: 20px;}
#text-img{font-size: 16px;color: #2B888C; }
#form{background-color:#FAFAFA; padding-top: 40px;}
#img-admin{margin-top: 40px; margin-bottom: 40px}

/*//////////////////////////////////////// ZONE ADMINISTRATEUR ///////////////////////////////////////////////////*/

/*//////////////////////////////////////// ZONE LOGIN ADMINISTRATEUR ///////////////////////////////////////////////////*/
#div-login{background-color:lightgrey; padding: 60px;margin-top: 20vh; /* poussé de la moitié de hauteur de viewport */}
#login-admin{width: 100%; margin-bottom: 20px;background:#2B888C;border: none; font-size: 20px; font-weight: bold;text-align: center;box-shadow: 5px 5px 20px grey;}
#mdp-admin{width: 100%;margin-bottom: 40px;background:#2B888C;border: none; font-size: 20px; font-weight: bold;text-align: center;box-shadow: 5px 5px 20px grey;}
#submit-admin{display: block;margin : auto;background: lightgrey;border: none; font-size: 20px;font-weight: bold;color:#2B888C;border: 2px solid #2B888C;}
#eric{text-align: center;margin-top: -10px; margin-bottom: 30px;font-family: 'Orbitron', sans-serif;font-weight: bold;}

#div-choix{background-color:lightgrey; padding: 60px;margin-top: 20vh; /* poussé de la moitié de hauteur de viewport */}
#button-submit2{width: 100%; background-color:#2B888C; color: white; border:none; font-size: 25px; margin-top: 20px; margin-bottom: 20px;box-shadow: 5px 5px 20px grey;}
/*//////////////////////////////////////// ZONE LOGIN ADMINISTRATEUR ///////////////////////////////////////////////////*/

/*//////////////////////////////////////// Page des articles ///////////////////////////////////////////////////*/
#titre_pageArticle{background-color: white; text-align: center; font-size: 30px; margin-bottom: 40px;font-family: 'Orbitron', sans-serif; padding-top: 15px; padding-bottom: 10px;}
#image_pageArticle{width:100%;height: 100%; margin-bottom: 40px;font-family: 'Orbitron', sans-serif;}
#paragraphe_pageArticle{background-color: white;margin-bottom: 50px;font-weight: bold;}

/*//////////////////////////////////////// Page des articles ///////////////////////////////////////////////////*/

/*////////////////////////////////////////////PAGE HISTOIRE//////////////////////////////////////////////////////////*/
#histoire-form {
  margin-top: 40px;
}
#histoire-form p{
  margin-top: 20px;
}
.titre-h1{
  font-size: 3em;
}
#valeur-histoire{
  background-color: #f0f0f0;
  box-shadow: 2px 2px 4px black;
  padding: 15px; 
  margin: 20px 0;
}
#presentation-container{
 background-color: white; 
 box-shadow: 2px 2px 4px black;
}
.histoire-italique{
  font-size: 0.8em;
}
#presentation-span{
  font-size: 1.2em;
  color:#2B888C;
}
#histoire-form ul{
  padding-top: 15px;
  padding-bottom: 15px;
}
/*//////////////////LETTRINE/////////////////*/
#histoire-form #lettrine-p::first-letter {
  font-family:'Lobster', cursive;
  font-size:3.5em;
  padding-right:0.2em;
  float:left;
  color:#2B888C;
  margin-top: -10px;
  margin-bottom: -10px;
  text-shadow: 1px 1px 2px grey;
}
/*---------------Fin lettrine-------------*/
#presentation-photo{
  float: right; 
  margin-left: 15px; 
  box-shadow: 2px 2px 4px black;
  margin-bottom: 5px;
}
.date-histoire{
  background-color: #2B888C;
  color: #ffffff;
}
.date-histoire:hover{
  background-color: #486d70;
}
/*--------------------------------------------fin PAGE HISTOIRE-----------------------------------------------------*/
/*////////////////////////////////////////////PAGE ACTIONS//////////////////////////////////////////////////////////*/
#action-page h3{
  margin-top: 40px;
  margin-bottom: 5px;
  background-color: #f0f0f0;
  padding: 10px;
}
#action-page iframe{
  box-shadow: 4px 4px 8px black;
  margin-top: 10px;
}
#action-page #lettrine-p::first-letter {
  font-size:3.5em;
  padding-right:0.2em;
  float:left;
  color:#2B888C;
  margin-top: -15px;
  margin-bottom: -20px;
  text-shadow: 1px 1px 2px grey;
}
.video-action{
  box-shadow: 2px 2px 4px black;
}
/*------------------------------------------fin PAGE ACTIONS-----------------------------------------------------*/

/* -------------------------------------------------------  LA FABRIK ------------------------------------------*/

#photo_Face{
	width: 80px;
	height: 80px;
	margin: 10px;
}

#laFabrik{
	font-size: 5em;
	margin-left: 30px;
	margin-bottom: 30px;
}

#laFabrik_vert{
		color:#27888F;
}

#laFabrik_fond{
		background-color: white;
		box-shadow: 5px 5px 5px 0px #656565;
}

#LaFabrik_presentation{
	border-top: solid 2px #27888F;
		padding-top: 20px;
		margin-top: 20px;
		margin-bottom: 30px;

}

#map{
	width:100% ;
	height:450px;
	border : 5px solid #27888F;
	margin: 30px;
}

@media screen and (max-width: 768px){      /*GESTION DE LA FENETRE FACEBOOK SUR MOBILE ET PC*/
 
	#photo_Face{
			width: 50px;
			height: 50px;
			margin: 10px;
	}

	#map{
			width:100% ;
			height:200px;
			border : 5px solid #27888F;
			margin: 0px;
	}
}

/*BOUTON CONNEXION */
#lien_connexion{
<<<<<<< HEAD
  color: black;
}
/* CSS PAGE LES APPRENNANTS */

#sectionApprenant h4 {
    font-size: 1.1em; }

  .boutonMobile {
    display: block;
    color: white;
    border-radius: 5%; }

  .mobileApprenant {
    display: none; }

  #nomLong {
    margin-left: -10%; } }
    #sectionApprenant {
  margin-top: 5%; }

.lienApprenant {
  color: #126e7a; }
  .lienApprenant:hover {
    color: #aaa9a9;
    text-decoration: none; }

.glyphicon {
  margin-bottom: 10px;
  margin-right: 10px; }

small {
  display: block;
  line-height: 1.428571429;
  color: #999; }

.well {
  border: 1px solid #BEBFBF;
  box-shadow: 6px 10px 18px 4px rgba(0, 0, 0, 0.1); }

.boutonMobile {
  width: 40%;
  display: inline-block;
  background-color: #1a8194;
  color: white;
  border-radius: 6%;
  margin-top: 7%;
  margin-right: 7%; }

#cadre img {
  height: 130px; }
  

@media screen and (max-width: 640px) {
=======
  color: white;
  font-weight: lighter;
  font-size: 1.2em;
}

#lien_connexion button{
	color: white;
  	font-weight: lighter;
  	font-size: 1em;
  	background-color: #27888F;
	border: none;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	display: inline;
}

#bouton_ajout{
	color: white;
  	font-weight: lighter;
  	font-size: 1em;
  	background-color: #27888F;
	border: none;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	display: inline;
}

#form_action{
	display: inline;
	float: right;
	margin-top: -75px;
}

@media screen and (max-width: 768px){ 
	#form_action{
		display: inline;
		float: right;
		margin-top: -150px;
	}
}
>>>>>>> def04bdb1c721ee637ebbc0f99ed63a6262fd745
