// Fonts & Variables
// --------------------------------
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
$light: hsla(192,15%,94%,1); // hsla(195,5%,96%,1);
$grey:  hsla(192,15%,88%,1); // hsla(195,5%,85%,1);
$dark:  hsla(192,15%,8%,1); // hsla(195,5%,12%,1);
$red:   hsla(6,78%,57%,1); // hsla(358,97%,63%,1);
$ice:   hsla(204,70%,53%,1); // hsla(177,51%,74%,1);
$blue:  hsla(204,64%,44%,1); // hsla(191,73%,53%,1);
$navy:  hsla(210,29%,24%,1); // hsla(217,36%,23%,1);

// Additional Reset
// --------------------------------
html { box-sizing: border-box; font-size: 62.5%; text-size-adjust: 100%; }
*, *:before, *:after { box-sizing: inherit; }
html, body { overflow-x: hidden; } // height: 100vh;
body { position: relative; }
h1, h2, h3, h4, h5, h6, ul, li, p { margin: 0; }
p { font-size: 1.6rem; line-height: 1.4; }
li { font-size: 1.4rem; }
a { font-weight: 700; text-decoration: none; color: $light; }
a:visited { color: $light; }
a:hover { color: $dark; }
a:active { color: $grey; }

// Helper Classes
// --------------------------------
.clearfix::before, .clearfix::after { content: " "; display: table; }
.clearfix::after { clear: both; }

// Transitions
// --------------------------------
a {
  transition: all 0.2s ease-in-out;
  // backface-visibility: hidden;
}
nav {
  transition: transform 0.4s ease-in-out;
  // backface-visibility: hidden;
}
header, footer, main {
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
  // backface-visibility: hidden;
}

// Foundation
// --------------------------------
html {
  font-family: 'Lato', sans-serif;
  color: $light;
  background: $red;
}
header, footer, main, section, article, aside {
  padding: 2rem;
}
header, footer {
  background-color: $red;
}
// enable hardware acceleration 
header, footer, main {
  transform: translate3d(0,0,0);
}

// Header
// --------------------------------
header h1 {
  font-size: 2.8rem;
  letter-spacing: 0.1rem;
}

// Navigation
// --------------------------------
nav {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  background: $navy;
  transform: translate3d(-20rem,0,0);
}
nav ul {
  padding: 2rem 0;
  height: 100vh;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
nav ul li {
  margin-bottom: 0.8rem;
}
nav ul li:last-child,
nav ul li:only-child {
  margin-bottom: 0;
}
nav ul li a {
  display: inline-block;
  padding: 0.6rem 2rem;
  font-size: 1.6rem;
}
nav ul li a:hover {
  padding-left: 2.6rem;
}
nav ul li a:active {
  padding-left: 2.2rem;
}
/*
// --- Nav Hide --- \\
#nav_hide {
  display: block;
  z-index: 1001;
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: 1rem;
  font-size: 3.2rem;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0;
  visibility: hidden;
}
*/
// --- Nav Show --- \\
#nav_show {
  display: inline-block;
  margin-bottom: 2rem;
  padding: 1rem;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  background: $red;
}
#nav_show:hover {
  opacity: 0.9;
}
#nav_show:active {
  opacity: 0.96;
}
/* --- Toggled Class --- */

// html { overflow-y: scroll; }

body.nav_toggled {
  position: fixed;
  overflow-y: hidden;
}
body.nav_toggled #nav_hide {
  opacity: 1;
  visibility: visible;
}
body.nav_toggled nav {
  transform: translate3d(0,0,0);
}
body.nav_toggled header, body.nav_toggled footer, body.nav_toggled main {
  opacity: 0.8;
  transform: translate3d(200px,0,0);
}

// Primary Styles
// --------------------------------
main {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background: $grey;
}
section {
  background: $ice;
}
article {
  background: $blue;
}
div.wrap_columns {
  margin-bottom: 2rem;
}

// Main Content
// --------------------------------
#main-content {
  margin-bottom: 2rem;
}
#main-content article div.content {
  padding: 2rem;
  background: $navy;
}
#main-content article div.content h2 {
  margin-bottom: 1rem;
  font-size: 2.2rem;
}
#main-content article aside.subcontent {
  background: $dark;
}
#main-content article aside.subcontent p {
  font-size: 1.3rem;
}

// Sidebar
// --------------------------------
#sidebar ul {
  padding-left: 1.6rem;
}
#sidebar ul li {
  margin-bottom: 0.8rem;
}
#sidebar ul li:last-child, #sidebar ul li:only-child {
  margin-bottom: 0;
}

// Promotions
// --------------------------------
#promotions p {
  margin-bottom: 2rem;
}
#promotions p:last-child,
#promotions p:only-child {
  margin-bottom: 0;
}


// Media Queries
// --------------------------------
@media only screen and (min-width: 35.5em) { // 568px

  #main-content,
  #sidebar,
  #main-content article div.content,
  #main-content article aside.subcontent {
    float: left;
  }
  #main-content {
    margin-right: 2%;
    margin-bottom: 0;
    width: 66%;
  }
  #main-content article div.content {
    margin-right: 2%;
    width: 66%;
  }
  #main-content article aside.subcontent {
    width: 32%;
  }
  #sidebar {
    width: 32%;
  }

}